@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    margin: 0px;
    padding: 0px;
}

.bg-web-page-color {
    background-image: url("https://i.ytimg.com/vi/O-nT8SeWpyo/maxresdefault.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.bg-web-page-card {
    margin: 10px;
}

.background-Diwali-img-top-section {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    width: 28vw;
    background-size: cover;
}

.diwali-top-section-heading {
    color: #ffff;
    font-size: 60px;
    font-family: 'Caveat', cursive;
    width: 350px;
    padding: 20px;
}

.diwali-bottom-section {
    background-color: #e6f6ff;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.diwali-bottom-section-card-item {
    text-align: center;
    background-color: #ffff;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

.diwali-bottom-section-card-item-image {
    height: 120px;
    width: 120px;
}

.diwali-bottom-section-card-item-name {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #616e7c;
    margin: 10px;
}

.diwali-bottom-section-card-item-price {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #323f4b;
}
